# Azure Pipeline: Build and Push Docker image to Azure Container Registry

trigger:
  - none

parameters:
  - name: registryServiceConnection
    displayName: "Registry Service Connection"
    type: string
    default: "sc-dockerhub-shimabell"
  - name: acrName
    displayName: "ACR Name"
    type: string
    default: "acrdemo20251230"
  - name: imageName
    displayName: "Image Name"
    type: string
    default: "dapr-psql-demo"
  - name: imageTag
    displayName: "Image Tag"
    type: string
    default: "$(Build.BuildId)"

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: BuildAndPush
    displayName: "Build and Push Image"
    jobs:
      - job: BuildAndPush
        displayName: "Build and Push Docker Image"
        steps:
          - task: Docker@2
            displayName: "Build and Push to Registry"
            inputs:
              containerRegistry: ${{ parameters.registryServiceConnection }}
              repository: ${{ parameters.imageName }}
              command: "buildAndPush"
              Dockerfile: "**/Dockerfile"
              tags: |
                ${{ parameters.imageTag }}
                latest
