# Azure Pipeline: Build and Push Docker image to Azure Container Registry

trigger:
  - none

parameters:
  - name: registryServiceConnection
    displayName: "Registry Service Connection"
    type: string
    default: "sc-dockerhub-shimabell"
  - name: imageName
    displayName: "Image Name"
    type: string
    default: "dapr-psql-demo"
  - name: imageTag
    displayName: "Image Tag"
    type: string
    default: "$(Build.BuildId)"

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
      - job: DockerJob
        displayName: Build and Push

        steps:
          - checkout: self
            displayName: Checkout Code

          - task: Docker@2
            displayName: Docker Login
            inputs:
              command: login
              containerRegistry: ${{ parameters.registryServiceConnection }} # Service connection name

          - task: Docker@2
            displayName: Build Docker Image
            inputs:
              command: build
              repository: ${{ parameters.imageName }}
              tags: |
                ${{ parameters.imageTag }}
                latest
              dockerfile: "./Dockerfile"
              arguments: |
                --cache-from ${{ parameters.imageName }}:latest
            env:
              DOCKER_BUILDKIT: 1

          - task: Docker@2
            displayName: Push Docker Image
            condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
            inputs:
              command: push
              repository: ${{ parameters.imageName }}
              tags: |
                ${{ parameters.imageTag }}
                latest

          # Optional: logout for self-hosted agents
          - script: docker logout
            displayName: Docker Logout (Self-hosted only)
            condition: ne(variables['Agent.OS'], 'Windows_NT')
